// Grid
$grid-gutter: 30px;

// Colors
$cyan: #04a89b;
$green: #58bb70;
$light-cyan: #e1f4f1;
$light-green: #eaf6ed;
$color-primary: $green;

$color-link: $color-primary;
$color-link-hover: darken($color-primary, 20);
$color-button-primary: $color-primary;

// Font
$font-family: 'Roboto', Arial, sans-serif;

// Headings sizes
$font-size-h1: 36px;
$font-size-h2: 33px;
$font-size-h3: 20px;
$font-size-h4: 20px;
$font-size-h5: 20px;
$font-size-h6: 20px;

// Box shadows
$box-shadow-input-focus: none;