// Colors
$blue: #3056ff;
$cyan: #04a89b;
$green: #58bb70;
$light-cyan: #e1f4f1;
$light-green: #eaf6ed;
$color-primary: $green;

$color-link: $color-primary;
$color-link-hover: darken($color-primary, 20);
$color-button-primary: $color-primary;

// Sizes
$width-sidebar:      60px;
$width-sidebar-open: 300px;

// Font
$font-family: 'Roboto', Arial, sans-serif;