// Fonts
@import url('https://fonts.googleapis.com/css?family=Lilita+One|Roboto:300,400,500,700');
@import "../fonts/fontello/css/fontello.css";

// Variables
@import "variables-site";

// Libs
@import "libs/jquery.modal";
@import "libs/monalisa";
@import "libs/owl.carousel.min";

// Components
@import "components/site/title";
@import "components/site/button";
@import "components/site/header";
@import "components/site/footer";
@import "components/site/box-social";
@import "components/site/menu-categorias";
@import "components/site/banner";
@import "components/site/lista-ofertas";
@import "components/site/menu-cliente";
@import "components/site/form";


// --------------------------------------------------------
// BASE ---------------------------------------------------
// --------------------------------------------------------

// Layout
.container {
    width: 1000px;
    margin: 0 auto;

    &._p120 {padding: 120px 0;}
    &._narrow {width: 600px;}
}

// Colors
._cyan  {color: $cyan}
._green {color: $green}
._white {color: #fff}
._bg-cyan  {background-color: $cyan}
._bg-green {background-color: $green}
._gradient {@include gradient-horizontal(#00A79D, #68BF68);}

._lilita {
    font-family: 'Lilita One', cursive;
    font-weight: normal;
}


