<div class="container {% if post.slug == 'contato' or post.slug == 'trabalhe-conosco' %}_narrow{% endif %} _p120">
	<h1 class="Title _green"><span>{{ post.title }}</span></h1>

	{{ post.get_field('texto') }}

	{% for item in post.get_field('faq') %}
		<h3 class="_green">{{ item.pergunta }}</h3>
		{{ item.resposta }}
	{% endfor %}

	{% if post.slug == 'contato' %}
	<div class="Form">
		{% filter shortcodes %}
            [contact-form-7 id="22" title="Contato" html_class="use-floating-validation-tip"]
        {% endfilter %}
	</div>
	{% elseif post.slug == 'trabalhe-conosco' %}
	<div class="Form">
		{% filter shortcodes %}
            [contact-form-7 id="22" title="Contato" html_class="use-floating-validation-tip"]
        {% endfilter %}
	</div>
	{% endif %}
</div>
{% if post.slug == 'contato' or post.slug == 'trabalhe-conosco' %}
{{ wp_head }}
{{ wp_footer }}
{% endif %}