.Cards {
    img {
        border-radius: 6px 6px 0 0;
    }

    ._inactive {
        opacity: 0.5;
        transition: opacity 200ms ease;

        &:hover {
            opacity: 1;
        }
    }

    .actions {
        @include grid-row();
        margin: 0;
        list-style: none;
        border: 1px solid #cecece;
        border-radius: 0 0 6px 6px;

        li {
            border-left: 1px solid #cecece;
            text-align: center;
            flex: 1 1 0%;

            &:first-child {
                border-left: 0;
            }

            a {
                display: block;
                width: 100%;
                padding: 10px;
                color: #cecece;
                font-size: 12px;
                text-transform: uppercase;
                text-decoration: none;

                &:hover {
                    color: $green;
                }
            }
        }
    }
}