.Header {
    .Button {
        position: absolute;
        top: 9px;
        right: 0;
    }

    @include breakpoint(sm) {
        margin-bottom: 40px;

        .title {
            font-size: 36px;
        }

        .Button {
            position: relative;
            top: auto;
            right: auto;
            width: 100%;
        }
    }
}