.Login {
    width: 100vw;
    height: 100vh;
    background: #eaeaea;

    .logo {
        position: absolute;
        top: 50px;
        left: 50%;
        margin-left: -50px;
        display: block;
        width: 100px;
        transition: opacity 300ms ease;
    }

    .Message {
        text-align: left;
    }

    form {
        @include vertical-align();
        left: 50%;
        width: 300px;
        margin-left: -150px;
        text-align: right;

        label {
            position: absolute;
            top: 7px;
            left: -35px;
            color: #fff;
            font-size: 17px;
            opacity: 0.1;
        }

        input[type=email],
        input[type=password] {
            margin-bottom: 18px;
            padding: 0;
            border: none;
            border-bottom: 1px solid #cacaca;
            border-radius: 0;
            background: transparent;
            color: #000;
            box-shadow: none;

            &:focus {
                border-color: #000;

                &::-webkit-input-placeholder {color: #000;}
                &::-moz-placeholder          {color: #000;}
                &:-ms-input-placeholder      {color: #000;}
                &:-moz-placeholder           {color: #000;}
            }
        }

        input[type=text]:before {
            content: '\e800';
            display: block;
            color: #fff;
            font-family: 'fontello';
        }

        .Button {
            width: 100%;
            padding: 0;
        }
    }
}