.Main {
    position: fixed;
    top: 0;
    left: $width-sidebar;
    width: calc(100% - #{$width-sidebar});
    height: 100vh;
    padding: 50px;
    overflow-y: scroll;

    @include breakpoint(sm) {
        top: 50px;
        left: 0;
        width: 100%;
        height: calc(100vh - 50px);
        padding: 20px;
    }
}

body._sidebar-open {
    .Main {
        left: $width-sidebar-open;
        width: calc(100% - #{$width-sidebar-open});

        @include breakpoint(sm) {
            left: 0;
            width: 100%;
        }
    }
}