.Message {
    border-left: 3px solid #666;
    border-radius: 4px;

    &._error {
        border-color: $color-error;
        background: #f0f0f0;
        color: $color-text;
    }
    &._success {
        border-color: $color-success;
        background: #f0f0f0;
        color: $color-text;
    }
    &._warning {
        border-color: $color-warning;
        background: #f0f0f0;
        color: $color-text;
    }
    &._focus {
        border-color: $color-focus;
        background: #f0f0f0;
        color: $color-text;
    }
}