.Sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: $width-sidebar;
    height: 100vh;
    background: $color-primary;
    box-shadow: inset -5px 0 5px 0 rgba(0,0,0, 0.1);
    z-index: 10;

    .menu-toggle {
        position: absolute;
        top: 50px;
        right: 0;
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 4px 0 0 4px;
        background: #fff;
        color: $color-text;
        font-size: 20px;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
    }

    .title {
        display: none;
        margin-bottom: 50px;
        color: #fff;
        font-size: 18px;
        line-height: 50px;
        font-weight: 900;

        span {
            font-weight: 400;
            opacity: 0.5;
        }
    }

    nav {
        display: none;
        height: calc(100vh - 230px);
        overflow-x: auto;

        ul {
            li {
                margin-bottom: 10px;
                font-size: 14px;

                span {
                    display: block;
                    margin-bottom: 10px;
                    color: #fff;
                    font-size: 12px;
                    text-transform: uppercase;
                }

                a {
                    color: #fff;
                    text-decoration: none;
                    opacity: 0.8;
                    transition: opacity 300ms ease;

                    &:hover {
                        opacity: 1;
                        text-decoration: underline;
                    }
                }

                ul {
                    margin: 0 0 30px 10px;
                }
            }
        }
    }

    .box-user {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px 30px;
        background: rgba(0,0,0, 0.1);
        line-height: 1;

        .user-name {
            display: block;
            color: #fff;
        }

        .user-logout {
            color: #fff;
            font-size: $font-size-small;
            opacity: 0.8;
        }
    }

    @include breakpoint(sm) {
        width: 100%;
        height: 50px;
        box-shadow: inset 0 -5px 5px 0 rgba(0,0,0, 0.1);

        .title {
            position: absolute;
            top: 0;
            left: 20px;
            display: block;
            font-size: 14px;
        }

        .menu-toggle {
            top: 5px;
            right: 5px;
            width: 40px;
            height: 40px;
            background: transparent;
            color: #fff;
            line-height: 40px;
        }
    }
}

body._sidebar-open {
    .Sidebar {
        width: $width-sidebar-open;
        padding: 50px 30px;

        .title,
        nav,
        .box-user {
            display: block;
        }

        @include breakpoint(sm) {
            width: 100%;
            height: 100vh;
            padding: 20px;

            nav {
                position: absolute;
                top: 50px;
                left: 0;
                width: 100%;
                height: calc(100vh - 140px);
                padding: 40px 20px 0 20px;
                border-top: 1px solid rgba(255,255,255, 0.1);
            }
        }
    }
}