.Table {
    .actions {
        list-style: none;
        margin: 0;
        text-align: right;

        li {
            display: inline-block;
            margin-left: 10px;

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    a {
        display: inline-block;
        vertical-align: middle;
    }

    &._wfix {
        width: 500px;
    }

    @include breakpoint(sm) {
        thead {
            display: none;
        }

        tbody {
            display: block;

            tr {
                display: block;
                margin-bottom: 20px;
                padding: 20px;
                border-radius: 4px;
                background: #efefef;

                td {
                    display: block;
                    padding: 0;
                    border: none;

                    &:first-child {
                        font-size: 16px;
                        font-weight: 700;
                    }

                    .actions {
                        text-align: left;

                        li {
                            margin-left: 0;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }

        &._wfix {
            width: 100%;
        }
    }
}