.Box-social {
    ul {
        li {
            display: inline-block;

            a {
                display: block;
                width: 30px;
                height: 30px;
                border-radius: 30px;
                background: $cyan;
                color: #fff;
                font-size: 16px;
                text-align: center;
                line-height: 30px;

                i {
                    margin: 0;
                    width: auto;
                }

                span {
                    display: none;
                }
            }
        }
    }
}

.Header {
    .Box-social {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.Footer {
    .Box-social {
        position: absolute;
        top: 30px;
        left: 50%;
        width: 250px;
        margin-left: -125px;
        text-align: center;

        ul {
            li {
                margin: 0 5px;

                a {
                    width: 45px;
                    height: 45px;
                    border-radius: 45px;
                    background: #9bdcd7;
                    color: $cyan;
                    font-size: 26px;
                    text-align: center;
                    line-height: 45px;
                }
            }
        }
    }
}