.Footer {
    h1, h2, h3, h4, h5, h6, a {
        color: #fff;
    }

    .footer-1 {
    }

    .footer-2 {
        padding: 25px 0;
        background: $green;

        h2 {
            line-height: 33px;
        }

        ul {
            list-style: none;
            margin: 0 0 0 16px;

            li {
                position: relative;
                margin: 0 0 10px 0;

                &:before {
                    content: '';
                    position: absolute;
                    top: 9px;
                    left: -16px;
                    display: block;
                    width: 6px;
                    height: 6px;
                    border: 1px solid #60d176;
                    background: #67e47c;
                }

                a {
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .footer-3 {}

    .footer-4 {
        padding: 25px 0;
        background: $cyan;

        p {
            position: absolute;
            top: 50px;
            right: 0;
            margin: 0;
            color: #fff;
            font-size: 14px;

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}