.Form {
	.wpcf7-not-valid {
		border-color: #ff0000;
	}

	.wpcf7-form-control-wrap {
	    display: block;
	}

	.use-floating-validation-tip span.wpcf7-not-valid-tip {
	    top: auto;
	    left: 0;
	    bottom: -18px;
	    z-index: 1;
	    border: 0;
	    background: transparent;
	    padding: 0;
	    font-size: 12px;
	}
}