.Header {
    height: 240px;
    padding-top: 30px;
    background: url(../images/bg_pattern.gif) center center;

    .logo {
        @include logo('../images/logo-pigpop.png', 341, 261);
        width: 230px;
        margin: 0 auto 40px;
    }

    .box-search {
        @extend ._gradient;
        display: block;
        position: absolute;
        top: 128px;
        width: 292px;
        height: 44px;
        margin: 0;
        border-radius: 14px;
        opacity: 0.6;

        input {
            @extend ._lilita;
            position: absolute;
            top: 0;
            height: 100%;
            width: calc(100% - 80px);
            margin-left: 52px;
            border: none;
            background: transparent;
            color: #fff;
            font-size: 18px;

            &::-webkit-input-placeholder {color: #fff;}
            &::-moz-placeholder {color: #fff;}
            &:-ms-input-placeholder {color: #fff;}
            &:-moz-placeholder {color: #fff;}
        }

        .icon-oinc,
        .icon-search {
            position: absolute;
            top: 5px;
            left: 5px;
            color: #fff;
            font-size: 22px;
        }

        .icon-search {
            left: auto;
            right: 8px;
            cursor: pointer;
        }
    }

    .box-titulo {
        @include logo('../images/compre_poupe_ganhe.png', 235, 215);
        position: absolute;
        top: 0;
        right: 0;
        width: 190px;
    }

    .box-menu {
        position: absolute;
        top: 60px;
        left: 0;

        ul {
            li {
                display: inline-block;
                margin-right: 5px;
                a {
                    @extend .Button;
                    @extend ._lilita;
                    @extend ._cyan;
                    @extend ._outline;
                    width: 142px;
                    margin-bottom: 30px;
                    border-radius: 14px;
                    font-size: 16px;
                    padding: 0 8px;
                    background-color: #fff;
                }
            }
        }
    }
}