.Lista-ofertas {
    @extend ._unstyled;

    &._green {
        .col .foto {border-color: $light-green;}
        .col .conteudo {background-color: $light-green;}
    }

    &._cyan {
        .col .foto {border-color: $light-cyan;}
        .col .conteudo {background-color: $light-cyan;}
    }

    .col {
        margin-bottom: 30px;
        color: $color-text;

        .col {
            margin-bottom: 0;
        }

        a {
            display: block;
            border-radius: 5px;
            color: $color-text;
            text-decoration: none;
            transition: all 200ms ease;

            &:hover {
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            }

        }
        .foto {
            padding: 15px 0;
            border: 2px solid;
            border-radius: 5px 5px 0 0;

            .wrapper {
                background: no-repeat center center;
                background-size: contain;

                &:after {
                    content: '';
                    display: block;
                    padding-top: 50%;
                }

                img {display: none;}
            }

            &._normal {
                .wrapper {
                    background-size: auto;
                }
            }
        }

        .conteudo {
            padding: 25px 15px;
            border-radius: 0 0 5px 5px;
            font-size: 15px;
            font-weight: 300;

            .titulo {
                margin-bottom: 15px;
                font-size: 15px;
                font-weight: 400;
                text-transform: uppercase;
                text-align: center;
            }
        }
    }
}