.Menu-cliente {
    background-color: #d5f2ec;
    font-family: 'Lilita One', cursive;
    font-weight: normal;
    text-align: center;

    nav {
        ul {
            li {
                display: inline-block;
                padding: 0 20px;

                a {
                    position: relative;
                    display: block;
                    padding: 25px 0 18px;
                    border-bottom: 8px solid transparent;
                    color: #08a999;
                    text-transform: uppercase;
                    text-decoration: none;

                    i {
                        font-size: 25px;
                    }

                    &._active,
                    &:hover {
                        border-color: #08a999;
                    }
                }
            }
        }
    }
}