.Menu-categorias {
    @extend ._gradient;
    nav > ul {
        @extend .Row;
        @extend ._auto;

        > li {
            @extend .col;
            position: relative;
            text-align: center;
            z-index: 1;

            > a {
                @extend ._lilita;
                display: inline-block;
                padding: 15px 0;
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;

                i {
                    display: block;
                    font-size: 35px;

                    &::before {
                        width: auto;
                        margin: 0;
                    }
                }
            }

            &:hover {
                > a {
                    color: #0c6e68;
                }

                > ul {
                    display: block;
                }
            }

            > ul {
                position: absolute;
                top: 100%;
                left: 0;
                display: none;
                width: 200px;
                padding: 10px 20px;
                background: $green;

                li {
                    margin: 5px 0;

                    a {
                        color: #fff;
                        font-size: 14px;
                        text-transform: uppercase;
                        text-decoration: none;

                        &:hover {
                            color: #0c6e68;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}