.Title {
    @extend ._lilita;
    display: block;
    margin: 0 0 80px 0;
    text-align: center;

    &._mini {
        margin: 0 0 15px 0;
        text-align: left;
    }

    span {
        position: relative;
        display: inline-block;
        min-width: 180px;
        padding: 25px 0;
        background-repeat: no-repeat;
        background-position: top center, bottom center;
        background-size: 180px;
        font-size: 36px;
        line-height: 36px;
        text-transform: uppercase;
    }

    &._mini span {
        min-width: 55px;
        padding: 10px 0;
        background-size: 55px;
        font-size: 20px;
        line-height: 20px;
        text-transform: none;
    }

    &._oinc span {
        &:after {
            content: '\e80a';
            position: absolute;
            top: 15px;
            left: 100%;
            margin-left: 10px;
            font-family: "fontello";
            font-style: normal;
            font-weight: normal;
            speak: none;
            transform: rotate(-10deg);
        }
    }

    &._cyan span  {
        background-image:
            url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 442.07 52.38"><path fill="#04a89b" d="M17.68 46c-7.45 1.48-15.1-2-17.23-9.78-1.9-6.88 2.36-15.72 9.79-17.22q46.2-9.18 93.15-13.93C213-6.09 324.3 1.44 431.83 25c7.42 1.63 11.71 10.22 9.78 17.23-2.08 7.56-9.85 11.4-17.23 9.78-29.21-6.37-58.7-11.69-88.38-15.51C230.3 22.91 122.3 25.25 17.68 46z"/></svg>'),
            url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 442.07 52.42"><path fill="#04a89b" d="M424.39 6.39c-104.61 20.79-212.62 23.13-318.32 9.53C76.4 12.1 46.91 6.79 17.69.37 10.31-1.25 2.54 2.59.46 10.15c-1.93 7 2.36 15.6 9.78 17.23C117.78 51 229.09 58.52 338.69 47.34q46.86-4.78 93.15-13.93c7.42-1.48 11.68-10.32 9.78-17.23-2.13-7.74-9.79-11.26-17.23-9.78z"/></svg>');
    }

    &._green span  {
        background-image:
            url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 442.07 52.38"><path fill="#58bb70" d="M17.68 46c-7.45 1.48-15.1-2-17.23-9.78-1.9-6.88 2.36-15.72 9.79-17.22q46.2-9.18 93.15-13.93C213-6.09 324.3 1.44 431.83 25c7.42 1.63 11.71 10.22 9.78 17.23-2.08 7.56-9.85 11.4-17.23 9.78-29.21-6.37-58.7-11.69-88.38-15.51C230.3 22.91 122.3 25.25 17.68 46z"/></svg>'),
            url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 442.07 52.42"><path fill="#58bb70" d="M424.39 6.39c-104.61 20.79-212.62 23.13-318.32 9.53C76.4 12.1 46.91 6.79 17.69.37 10.31-1.25 2.54 2.59.46 10.15c-1.93 7 2.36 15.6 9.78 17.23C117.78 51 229.09 58.52 338.69 47.34q46.86-4.78 93.15-13.93c7.42-1.48 11.68-10.32 9.78-17.23-2.13-7.74-9.79-11.26-17.23-9.78z"/></svg>');
    }

    &._white span  {
        background-image:
            url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 442.07 52.38"><path fill="#ffffff" d="M17.68 46c-7.45 1.48-15.1-2-17.23-9.78-1.9-6.88 2.36-15.72 9.79-17.22q46.2-9.18 93.15-13.93C213-6.09 324.3 1.44 431.83 25c7.42 1.63 11.71 10.22 9.78 17.23-2.08 7.56-9.85 11.4-17.23 9.78-29.21-6.37-58.7-11.69-88.38-15.51C230.3 22.91 122.3 25.25 17.68 46z"/></svg>'),
            url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 442.07 52.42"><path fill="#ffffff" d="M424.39 6.39c-104.61 20.79-212.62 23.13-318.32 9.53C76.4 12.1 46.91 6.79 17.69.37 10.31-1.25 2.54 2.59.46 10.15c-1.93 7 2.36 15.6 9.78 17.23C117.78 51 229.09 58.52 338.69 47.34q46.86-4.78 93.15-13.93c7.42-1.48 11.68-10.32 9.78-17.23-2.13-7.74-9.79-11.26-17.23-9.78z"/></svg>');
    }
}