
.icon-user:before { content: '\e800'; } /* '' */
.icon-lock:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\e802'; } /* '' */
.icon-dots:before { content: '\e803'; } /* '' */
.icon-cadeado:before { content: '\e804'; } /* '' */
.icon-celular:before { content: '\e805'; } /* '' */
.icon-eletro:before { content: '\e806'; } /* '' */
.icon-games:before { content: '\e807'; } /* '' */
.icon-informatica:before { content: '\e808'; } /* '' */
.icon-livros:before { content: '\e809'; } /* '' */
.icon-oinc:before { content: '\e80a'; } /* '' */
.icon-relogio:before { content: '\e80b'; } /* '' */
.icon-tablet:before { content: '\e80c'; } /* '' */
.icon-telefone:before { content: '\e80d'; } /* '' */
.icon-tv:before { content: '\e80e'; } /* '' */
.icon-search:before { content: '\e80f'; } /* '' */
.icon-mail:before { content: '\e810'; } /* '' */
.icon-basket:before { content: '\e811'; } /* '' */
.icon-config:before { content: '\e814'; } /* '' */
.icon-resgate:before { content: '\e815'; } /* '' */
.icon-extrato:before { content: '\e816'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */