@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?20839799');
  src: url('../font/fontello.eot?20839799#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?20839799') format('woff2'),
       url('../font/fontello.woff?20839799') format('woff'),
       url('../font/fontello.ttf?20839799') format('truetype'),
       url('../font/fontello.svg?20839799#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?20839799#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-user:before { content: '\e800'; } /* '' */
.icon-lock:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\e802'; } /* '' */
.icon-dots:before { content: '\e803'; } /* '' */
.icon-cadeado:before { content: '\e804'; } /* '' */
.icon-celular:before { content: '\e805'; } /* '' */
.icon-eletro:before { content: '\e806'; } /* '' */
.icon-games:before { content: '\e807'; } /* '' */
.icon-informatica:before { content: '\e808'; } /* '' */
.icon-livros:before { content: '\e809'; } /* '' */
.icon-oinc:before { content: '\e80a'; } /* '' */
.icon-relogio:before { content: '\e80b'; } /* '' */
.icon-tablet:before { content: '\e80c'; } /* '' */
.icon-telefone:before { content: '\e80d'; } /* '' */
.icon-tv:before { content: '\e80e'; } /* '' */
.icon-search:before { content: '\e80f'; } /* '' */
.icon-mail:before { content: '\e810'; } /* '' */
.icon-basket:before { content: '\e811'; } /* '' */
.icon-config:before { content: '\e814'; } /* '' */
.icon-resgate:before { content: '\e815'; } /* '' */
.icon-extrato:before { content: '\e816'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */